/*
    kStyle.css created by Kirsten Grace on 4/22/15
*/


body {
    background-color: #d0e4fe;
}

h1, h2, h3 {
    font-family: "Liberation Sans", Arial, sans-serif;
}

h1 {
    color: cornflowerblue;
    text-align: center;
}

p {
    font-family: "Verdana", serif;
    font-size: 20px;
}

a {
    color: darkorchid;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: darkorchid;
    color: #d0e4fe;
}

/**** Table Style Declarations ****/
tr:nth-child(even) {
    background-color: powderblue;
}

tr:nth-child(odd) {
    background-color: white;
}

th {
    color: azure; background-color: cadetblue;
}